.button-primary,
.button-secondary {
  border: 0;
  padding: 5px 40px;
  border-radius: 100px;
  font-size: 18px;
  transition: $transition;
}

.button-primary {
  background-color: $blue;
  color: $white;
}

.button-primary:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.button-primary-sm {
  background-color: $blue;
  color: $white;
  text-align: center;
  border: 0;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 14px;
  transition: $transition;
}

.button-primary-sm:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.button-secondary-sm {
  background-color: none;
  color: $blue;
  text-align: center;
  border: 3px solid $blue;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 14px;
  transition: $transition;
}

.button-secondary-sm:hover {
  background-color: $blue;
  color: $white;
  transform: scale(1.05);
  cursor: pointer;
}

.button-secondary {
  border: solid 3px $blue;
  color: $blue;
  background: none;
}

.button-secondary:hover {
  transform: scale(1.05);
  background-color: $blue;
  color: $white;
  cursor: pointer;
}

.button-secondary-white {
  color: $white;
  border: solid 3px $white;
}


.button-secondary-white:hover {
  transform: scale(1.05);
  background-color: $white;
  color: $blue;
  cursor: pointer;
}

.button-add {
  background: none;
  border: 0;
  color: $blue;
  height: 13px;
}

.button-delete {
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

.button-add:hover,
.button-delete:hover{
  cursor: pointer;
}

.button-voice {
    border: 2px solid $white;
    padding: 5px 20px;
    border-radius: 100px;
    background: none;
    color: $white;
    font-size: 14px;
    transition: $transition;
}

.button-voice:hover {
  transform: scale(1.05);
  background: $white;
  color: $black;
  cursor: pointer;
}