.create-section {
  display: flex;
  justify-content: center;

  .search-songs-section {
    margin: 15px;
    padding: 15px;
    background: $lightest-gray-gradient;
    color: $black;
    width: 450px;
    height: 485px;
    border-radius: 5px;
    overflow: scroll;

    .voice-memo-section {

      input {
        border: 0;
        background: white;
        border-radius: 25px;
        height: 25px;
        width: 150px;
        margin-bottom: 10px;
        font-size: 14px;
        padding: 3px 0px 3px 15px;
      }

      audio {
        width: 200px;
        height: 25px;
        display: block;
        margin-bottom: 10px;
      }
    }

    form {

      input {
        border: 0;
        background: white;
        border-radius: 25px;
        height: 25px;
        width: 150px;
        margin-right: 10px;
        font-size: 14px;
        padding: 3px 0px 3px 15px;
      }
    }
  }

  .results-section {
    list-style-type: none;
    padding: 0;

    .search-results {
      font-size: 14px;

      .results-list-item {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }
    }
  }

  .edit-mixtape-section {
    width: 450px;
    margin: 15px;
    padding: 15px;

    input {
      font-size: 28px;
      border: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
      border-style: solid;
    }

    .mixtape-songs {
      padding: 0;
      counter-reset: track;

      .song-item {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
      }

      .song-item::before {
        counter-increment: track;
        content: counter(track) ". ";
        margin-right: 5px;
      }
    }
  }

  .result-thumb {
    width:25px
  }


}