@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap');

$pink: #FF6A6A;
$white: #FAFAFA;
$black: #3C3C3C;

body {
  margin: 0;
  font-family: 'Noto Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 18px;
  color: $black;
}

h1 {
  font-family: 'Comfortaa', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: $white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button-primary,
.button-secondary {
  border: 0;
  padding: 10px 40px;
  border-radius: 100px;
  font-size: 18px;
}

.button-primary {
  background-color: $pink;
  color: $white;
}

.button-secondary {
  border: solid 3px $pink;
  color: $pink;
}