@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 18px;
}

h1 {
  font-family: 'Comfortaa', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fafafa;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}