nav {

  ul {
    list-style-type: none;
    
    li {
      display: inline-block;
      margin: 10px;

      a {
        color: $white;
      }

      a:hover {
        color: #FF6A6A;
      }
    }
  }
}