.full-screen-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {

  img {
    width: 500px;
  }
}