.mixtapes-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  .mixtape-detail-container {
    background: $lightest-gray-gradient;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    width: 550px;
    height: 450px;
    overflow: scroll;
    margin: 0 15px 15px;

    .mixtape-detail {
      position: relative;
      max-width: 300px;
      
    h2 {
      margin-top: 0;
      color: $blue;
    }

    .play-pause:hover {
      cursor: pointer;
    }

    .button-delete {
      position: absolute;
      bottom: 0;
      font-size: 14px;
    }
  }

    .list-of-songs {
      padding-left: 0;
      margin: 0 30px;
      counter-reset: track;

      .song {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        img {
          width: 100px;
          margin-right: 10px;
        }
      }

      .song::before {
        counter-increment: track;                   /* Increment the value of section counter by 1 */
        content: counter(track) ". ";
        margin-right: 5px;
      }
    }
  }
}