$blue: rgb( 51, 103, 214 );
$white: #FAFAFA;
$black: #4a4a4a;
$light-gray: #AAAAAA;
$lightest-gray: #fafafa;
$lightest-gray-gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);
$transition: all 0.2s ease-in-out;